<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583751175329-uflrgcdf545u3noot59j75jftlh4mh3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583751175329-uflrgcdf545u3noot59j75jftlh4mh3f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583751175329-8b2fad96otjdaisisvmu0alo63ua1bm3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAeOvdUwRIVTo-jgQcnkc9FR6Fhz1HPXsA</string>
	<key>GCM_SENDER_ID</key>
	<string>583751175329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.natureldisaster</string>
	<key>PROJECT_ID</key>
	<string>natureldisaster-7eb58</string>
	<key>STORAGE_BUCKET</key>
	<string>natureldisaster-7eb58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583751175329:ios:f06a74ae45a1665755b4e0</string>
</dict>
</plist>